/* 头部 */
header {
  width: 1465px;
  height: 36px;
  background: #e3e4e5;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
header .l {
  width: 70px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .l span {
  color: red;
}
header .r {
  width: 900px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header .r li:first-child {
  display: flex;
}
header .r li:first-child p {
  color: red;
  margin-left: 10px;
}
header .r li:nth-child(3) {
  height: 36px;
  line-height: 36px;
  position: relative;
}
header .r li:nth-child(3) ul {
  width: 200px;
  height: 150px;
  position: absolute;
  top: 36px;
  display: none;
}
header .r li:nth-child(3) ul li {
  display: flex;
  height: 20px;
  line-height: 20px;
  align-items: center;
}
header .r li:nth-child(3) ul li span {
  margin-right: 40px;
  color: black;
}
header .r li:nth-child(3) ul li p {
  margin-right: 40px;
  margin-top: 5px;
}
header .r li:nth-child(3):hover {
  background: white;
  color: red;
}
header .r li:nth-child(3):hover ul {
  border: red  1px solid;
  background: white;
  display: block;
}
header .r li:nth-child(5) {
  height: 36px;
  line-height: 36px;
  position: relative;
}
header .r li:nth-child(5) ul {
  width: 150px;
  height: 100px;
  position: absolute;
  top: 36px;
  display: none;
}
header .r li:nth-child(5) ul li {
  display: flex;
  height: 20px;
  line-height: 20px;
  align-items: center;
  color: gray;
}
header .r li:nth-child(5) ul li span {
  margin-right: 20px;
}
header .r li:nth-child(5) ul li p {
  margin-right: 20px;
  color: gray;
}
header .r li:nth-child(5):hover ul {
  display: block;
}
header .r li:nth-child(5):hover ul li:hover span {
  color: red;
}
header .r li:nth-child(5):hover ul li:hover p {
  color: red;
}
header .r li:nth-child(6) {
  height: 36px;
  line-height: 36px;
  position: relative;
}
header .r li:nth-child(6) ul {
  width: 200px;
  height: 350px;
  position: absolute;
  top: 36px;
  display: none;
}
header .r li:nth-child(6) ul .rl1 {
  width: 200px;
}
header .r li:nth-child(6) ul .rl1 li {
  height: 30px;
  line-height: 30px;
  display: flex;
}
header .r li:nth-child(6) ul .rl1 li p {
  margin-left: 20px;
}
header .r li:nth-child(6) ul .rl2 {
  width: 200px;
  height: 100px;
}
header .r li:nth-child(6) ul .rl2 li {
  height: 30px;
  line-height: 30px;
  display: flex;
}
header .r li:nth-child(6) ul .rl2 li p {
  margin-left: 20px;
}
header .r li:nth-child(6):hover ul {
  display: block;
  background-color: red;
  border: rosybrown;
}
header .r li:nth-child(7) {
  height: 36px;
  line-height: 36px;
  position: relative;
}
header .r li:nth-child(7) ul {
  width: 1400px;
  height: 200px;
  display: flex;
  justify-content: space-around;
  display: none;
  position: absolute;
  top: 36px;
  right: -75px;
}
header .r li:nth-child(7) ul .rl3_1 li {
  height: 30px;
  line-height: 30px;
  display: flex;
}
header .r li:nth-child(7) ul .rl3_1 li p {
  margin-right: 30px;
}
header .r li:nth-child(7) ul .rl3_2 {
  height: 150px;
  width: 1px;
  border-left: black 1px solid;
  margin-top: 20px;
}
header .r li:nth-child(7) ul .rl3_3 li {
  height: 30px;
  line-height: 30px;
  display: flex;
  margin-right: 20px;
}
header .r li:nth-child(7) ul .rl3_3 li p {
  margin-right: 30px;
}
header .r li:nth-child(7) ul .rl3_4 {
  height: 150px;
  width: 1px;
  border-left: black 1px solid;
  margin-top: 20px;
}
header .r li:nth-child(7) ul .rl3_5 li {
  height: 30px;
  line-height: 30px;
  display: flex;
  margin-right: 20px;
}
header .r li:nth-child(7) ul .rl3_5 li p {
  margin-right: 30px;
}
header .r li:nth-child(7) ul .rl3_6 {
  height: 150px;
  width: 1px;
  border-left: black 1px solid;
  margin-top: 20px;
}
header .r li:nth-child(7) ul .rl3_7 li {
  height: 30px;
  line-height: 30px;
  display: flex;
  margin-right: 20px;
}
header .r li:nth-child(7) ul .rl3_7 li p {
  margin-left: 30px;
}
header .r li:nth-child(7):hover ul {
  display: block;
}
/* 悬浮窗 */
.Xuanfu {
  width: 1465px;
  height: 200px;
  margin: 0 auto;
  border-bottom: red 2px solid;
  /* log */
  /* 搜索框 */
  /* 购物车 */
}
.Xuanfu .Xf_left {
  width: 124px;
  float: left;
  margin-top: 50px;
  margin-left: 23px;
}
.Xuanfu .Xf_center {
  width: 672px;
  height: 48px;
  border: 2px #a13d3b solid;
  margin-top: 55px;
  margin-left: 177px;
  float: left;
}
.Xuanfu .Xf_center .Xf_center_1 input {
  float: left;
  height: 48px;
  width: 580px;
  outline: none;
  text-decoration: 3rem;
}
.Xuanfu .Xf_center .Xf_center_1 p {
  float: right;
  width: 72px;
  height: 46px;
  text-align: center;
  line-height: 46px;
  font-size: 22px;
  background-color: red;
  color: #fff;
}
.Xuanfu .Gouwuche {
  float: left;
  width: 162px;
  height: 42px;
  border: 1px solid gray;
  margin-top: 55px;
  margin-left: 23px;
}
.Xuanfu .Gouwuche span {
  font-size: 20px;
  color: red;
  float: left;
  margin-top: 10px;
  margin-left: 28px;
}
.Xuanfu .Gouwuche p {
  font-size: 14px;
  color: red;
  float: left;
  margin-top: 14px;
  margin-left: 16px;
}
/* 商品结算 */
.SpJs {
  width: 1465px;
  margin: 0 auto;
  background: darkkhaki;
  /* 全部商品 */
  /* 结算 全选 单选 */
  /* 商品展示 */
}
.SpJs .Js_top {
  height: 50px;
}
.SpJs .Js_top .Js_top_1 {
  float: left;
  width: 150px;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  font-weight: 900;
  color: red;
  border-bottom: 1px solid red;
}
.SpJs .Js_top .Js_top_1 span {
  margin-left: 10px;
}
.SpJs .Js_top .Js_top_2 {
  float: right;
  height: 50px;
  font-size: 20px;
}
.SpJs .Js_top .Js_top_2 p:nth-child(1) {
  float: left;
  line-height: 50px;
}
.SpJs .Js_top .Js_top_2 p:nth-child(2) {
  float: left;
  width: 150px;
  height: 30px;
  border: 1px solid gray;
  text-align: center;
  line-height: 30px;
  margin-top: 9px;
}
.SpJs .Js_center {
  height: 40px;
  background: #f4f4f4;
  overflow: hidden;
}
.SpJs .Js_center ul {
  width: 1465px;
  height: 20px;
  margin-top: 10px;
}
.SpJs .Js_center ul li {
  float: left;
  margin-right: 100px;
  font-size: 15px;
  cursor: pointer;
}
.SpJs .Js_center ul li input {
  float: left;
  margin-top: 5px;
}
.SpJs .Js_center ul li p {
  margin-left: 5px;
  float: left;
}
.SpJs .Js_center ul li:nth-child(3) {
  margin-left: 400px;
}
.SpJs .Js_center ul li:nth-child(5) {
  margin-left: 200px;
}
.SpJs .Js_center_1 {
  height: 150px;
  width: 1465px;
}
.SpJs .Js_center_1 div {
  margin-right: 70px;
  margin-top: 10px;
  float: left;
  cursor: pointer;
}
.SpJs .Js_center_1 .Shangpin .checkbox {
  float: left;
  margin: 0 10px;
}
.SpJs .Js_center_1 .Shangpin img {
  float: left;
  width: 100px;
  height: 100px;
}
.SpJs .Js_center_1 .Shangpin p {
  margin-left: 5px;
  float: left;
  font-size: 20px;
  width: 350px;
}
.SpJs .Js_center_1 .price {
  margin-left: 110px;
  font-size: 15px;
}
.SpJs .Js_center_1 .number span {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: gray 1px solid;
  text-align: center;
  line-height: 20px;
}
.SpJs .Js_center_1 .number input {
  width: 50px;
  height: 20px;
  outline: none;
  border: solid 1px gray;
}
.SpJs .Js_center_1 .number p {
  color: gray;
  margin-left: 38px;
}
.SpJs .Js_center_1 .Zongjia {
  font-size: 15px;
  margin-left: 170px;
}
.SpJs .Js_center_1 .caozuo {
  font-size: 15px;
  margin-left: 15px;
}
.SpJs .Js_center_1 .caozuo:hover {
  color: red;
}
/* footer */
footer {
  width: 1465px;
  height: 700px;
  margin: 0 auto;
  /* fo_top */
  /* fo_center */
  /* fo_bottom */
}
footer .fo_top {
  width: 1465px;
  height: 127px;
  border-bottom: 1px solid gray;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer .fo_top li {
  width: 260px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .fo_top li span {
  display: inline-block;
  width: 48px;
  height: 48px;
  border: 2px solid red;
  color: red;
  text-align: center;
  line-height: 48px;
  font-size: 25px ;
  font-weight: 900;
  border-radius: 100%;
}
footer .fo_top li p {
  margin-left: 12px ;
  font-size: 20px ;
  font-weight: 900;
}
footer .fo_center {
  height: 245px;
  width: 1465px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid gray;
}
footer .fo_center ul {
  margin-top: 28px;
}
footer .fo_center ul p {
  font-size: 16px;
  font-weight: 900;
}
footer .fo_center ul li {
  margin-top: 10px;
  font-size: 14px ;
  color: gray;
}
footer .fo_center ul li a:hover {
  color: red;
}
footer .fo_bottom {
  width: 1465px;
  height: 323px;
  /* 1 */
  /* 2 */
  /* 3 */
  /* 4 */
  /* 5 */
  /* 6 */
  /* 7 */
}
footer .fo_bottom .fo_bo_box1 {
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .fo_bottom .fo_bo_box1 .fo_bo_1 {
  width: 1335px;
  display: flex;
  justify-content: space-between;
}
footer .fo_bottom .fo_bo_box1 .fo_bo_1 li {
  font-size: 14px;
}
footer .fo_bottom .fo_bo_box1 .fo_bo_1 li a:hover {
  color: red;
}
footer .fo_bottom .fo_bo_box2 {
  display: flex;
  justify-content: center;
  height: 28px;
}
footer .fo_bottom .fo_bo_box2 .fo_bo_2 {
  width: 974px;
  display: flex;
  justify-content: space-between;
}
footer .fo_bottom .fo_bo_box2 .fo_bo_2 li {
  color: gray;
  font-size: 12px;
}
footer .fo_bottom .fo_bo_box2 .fo_bo_2 li a {
  color: gray;
}
footer .fo_bottom .fo_bo_box2 .fo_bo_2 li a:hover {
  color: red;
}
footer .fo_bottom .fo_bo_box3 {
  height: 26px;
  display: flex;
  justify-content: center;
}
footer .fo_bottom .fo_bo_box3 .fo_bo3 {
  width: 1058px;
  display: flex;
  justify-content: space-between;
}
footer .fo_bottom .fo_bo_box3 .fo_bo3 li {
  color: gray;
}
footer .fo_bottom .fo_bo_box3 .fo_bo3 li a {
  color: gray;
}
footer .fo_bottom .fo_bo_box3 .fo_bo3 li a:hover {
  color: red;
}
footer .fo_bottom .fo_bo_box4 {
  height: 26px;
  display: flex;
  justify-content: center;
}
footer .fo_bottom .fo_bo_box4 .fo_bo4 {
  width: 987px ;
  display: flex;
  justify-content: space-between;
}
footer .fo_bottom .fo_bo_box4 .fo_bo4 li {
  color: gray;
}
footer .fo_bottom .fo_bo_box4 .fo_bo4 li a {
  color: gray;
}
footer .fo_bottom .fo_bo_box4 .fo_bo4 li a:hover {
  color: red;
}
footer .fo_bottom .fo_bo_box5 {
  height: 26px;
  display: flex;
  justify-content: center;
}
footer .fo_bottom .fo_bo_box5 .fo_bo5 {
  width: 774px ;
  display: flex;
  justify-content: space-between;
}
footer .fo_bottom .fo_bo_box5 .fo_bo5 a {
  width: 154px;
  color: gray;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer .fo_bottom .fo_bo_box5 .fo_bo5 a p {
  font-size: 14px;
}
footer .fo_bottom .fo_bo_box5 .fo_bo5 a p:hover {
  color: red;
}
footer .fo_bottom .fo_bo_box6 {
  height: 64px;
  display: flex;
  justify-content: center;
}
footer .fo_bottom .fo_bo_box6 .fo_bo6 {
  width: 264px;
  display: flex;
  justify-content: space-between;
}
footer .fo_bottom .fo_bo_box6 .fo_bo6 li {
  color: gray;
}
footer .fo_bottom .fo_bo_box6 .fo_bo6 li a {
  color: gray;
}
footer .fo_bottom .fo_bo_box6 .fo_bo6 li a:hover {
  color: red;
}
footer .fo_bottom .fo_bo_box7 {
  display: flex;
  justify-content: center;
}
footer .fo_bottom .fo_bo_box7 .fo_bo7 {
  width: 800px;
  display: flex;
  justify-content: space-between;
}
