/* 头部 */
header {
  width: 1465px;
  height: 36px;
  background: #e3e4e5;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
header .l {
  width: 70px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .l span {
  color: red;
}
header .r {
  width: 900px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header .r li:first-child {
  display: flex;
}
header .r li:first-child p {
  color: red;
  margin-left: 10px;
}
header .r li:nth-child(3) {
  height: 36px;
  line-height: 36px;
  position: relative;
}
header .r li:nth-child(3) ul {
  width: 200px;
  height: 150px;
  position: absolute;
  top: 36px;
  display: none;
}
header .r li:nth-child(3) ul li {
  display: flex;
  height: 20px;
  line-height: 20px;
  align-items: center;
}
header .r li:nth-child(3) ul li span {
  margin-right: 40px;
  color: black;
}
header .r li:nth-child(3) ul li p {
  margin-right: 40px;
  margin-top: 5px;
}
header .r li:nth-child(3):hover {
  background: white;
  color: red;
}
header .r li:nth-child(3):hover ul {
  border: red  1px solid;
  background: white;
  display: block;
}
header .r li:nth-child(5) {
  height: 36px;
  line-height: 36px;
  position: relative;
}
header .r li:nth-child(5) ul {
  width: 150px;
  height: 100px;
  position: absolute;
  top: 36px;
  display: none;
}
header .r li:nth-child(5) ul li {
  display: flex;
  height: 20px;
  line-height: 20px;
  align-items: center;
  color: gray;
}
header .r li:nth-child(5) ul li span {
  margin-right: 20px;
}
header .r li:nth-child(5) ul li p {
  margin-right: 20px;
  color: gray;
}
header .r li:nth-child(5):hover ul {
  display: block;
}
header .r li:nth-child(5):hover ul li:hover span {
  color: red;
}
header .r li:nth-child(5):hover ul li:hover p {
  color: red;
}
header .r li:nth-child(6) {
  height: 36px;
  line-height: 36px;
  position: relative;
}
header .r li:nth-child(6) ul {
  width: 200px;
  height: 350px;
  position: absolute;
  top: 36px;
  display: none;
}
header .r li:nth-child(6) ul .rl1 {
  width: 200px;
}
header .r li:nth-child(6) ul .rl1 li {
  height: 30px;
  line-height: 30px;
  display: flex;
}
header .r li:nth-child(6) ul .rl1 li p {
  margin-left: 20px;
}
header .r li:nth-child(6) ul .rl2 {
  width: 200px;
  height: 100px;
}
header .r li:nth-child(6) ul .rl2 li {
  height: 30px;
  line-height: 30px;
  display: flex;
}
header .r li:nth-child(6) ul .rl2 li p {
  margin-left: 20px;
}
header .r li:nth-child(6):hover ul {
  display: block;
  background-color: red;
  border: rosybrown;
}
header .r li:nth-child(7) {
  height: 36px;
  line-height: 36px;
  position: relative;
}
header .r li:nth-child(7) ul {
  width: 1400px;
  height: 200px;
  display: flex;
  justify-content: space-around;
  display: none;
  position: absolute;
  top: 36px;
  right: -75px;
}
header .r li:nth-child(7) ul .rl3_1 li {
  height: 30px;
  line-height: 30px;
  display: flex;
}
header .r li:nth-child(7) ul .rl3_1 li p {
  margin-right: 30px;
}
header .r li:nth-child(7) ul .rl3_2 {
  height: 150px;
  width: 1px;
  border-left: black 1px solid;
  margin-top: 20px;
}
header .r li:nth-child(7) ul .rl3_3 li {
  height: 30px;
  line-height: 30px;
  display: flex;
  margin-right: 20px;
}
header .r li:nth-child(7) ul .rl3_3 li p {
  margin-right: 30px;
}
header .r li:nth-child(7) ul .rl3_4 {
  height: 150px;
  width: 1px;
  border-left: black 1px solid;
  margin-top: 20px;
}
header .r li:nth-child(7) ul .rl3_5 li {
  height: 30px;
  line-height: 30px;
  display: flex;
  margin-right: 20px;
}
header .r li:nth-child(7) ul .rl3_5 li p {
  margin-right: 30px;
}
header .r li:nth-child(7) ul .rl3_6 {
  height: 150px;
  width: 1px;
  border-left: black 1px solid;
  margin-top: 20px;
}
header .r li:nth-child(7) ul .rl3_7 li {
  height: 30px;
  line-height: 30px;
  display: flex;
  margin-right: 20px;
}
header .r li:nth-child(7) ul .rl3_7 li p {
  margin-left: 30px;
}
header .r li:nth-child(7):hover ul {
  display: block;
}
/* 搜索框 */
.SS {
  width: 1465px;
  height: 172px;
  margin: 0 auto;
}
.SS .SS1 {
  width: 263px;
  height: 172px;
  float: left;
}
.SS .SS1 img {
  margin-top: 28px;
  margin-left: 72px;
}
.SS .SS2 {
  width: 918px;
  height: 172px;
  float: left;
}
.SS .SS2 .SS2_1 {
  width: 918px;
  height: 48px;
  margin-top: 28px;
  margin-left: 54px;
}
.SS .SS2 .SS2_1 .SS2_11 {
  width: 679px;
  height: 48px;
  float: left;
}
.SS .SS2 .SS2_1 .SS2_11 input {
  width: 600px;
  height: 44px;
  border: 2px solid red;
  float: left;
}
.SS .SS2 .SS2_1 .SS2_11 p {
  width: 70px;
  height: 44px;
  background: red;
  color: white;
  text-align: center;
  line-height: 44px;
  float: left;
}
.SS .SS2 .SS2_1 .SS2_2 {
  width: 162px;
  height: 44px;
  float: left;
  margin-left: 20px;
  border: saddlebrown 1px solid;
}
.SS .SS2 .SS2_1 .SS2_2 span {
  float: left;
  color: red;
  margin-top: 10px;
  margin-left: 25px;
}
.SS .SS2 .SS2_1 .SS2_2 p {
  float: left;
  color: red;
  margin-left: 26px;
  margin-top: 10px;
}
.SS .SS2 .SS2_1 .SS2:hover::after {
  opacity: 1;
  -webkit-transform: skewX(-180deg) scale(0.5, 1);
  transform: skewX(-180deg) scale(0.5, 1);
}
.SS .SS2 .SS3 {
  width: 675px;
  height: 16px;
  margin-top: 10px;
  margin-left: 54px;
}
.SS .SS2 .SS3 li:nth-child(1) {
  color: red;
}
.SS .SS2 .SS3 li {
  height: 16px;
  line-height: 16px;
  width: 74px;
  color: gray;
  float: left;
}
.SS .SS2 .SS3 li:hover {
  color: red;
  cursor: pointer;
}
.SS .SS2 .SS4 {
  width: 918px;
  height: 20px;
  margin-top: 38px;
}
.SS .SS2 .SS4 li:nth-child(1) {
  color: red;
}
.SS .SS2 .SS4 li:nth-child(2) {
  color: red;
}
.SS .SS2 .SS4 li {
  float: left;
  font-size: 18px;
  margin-right: 28px;
}
.SS .SS2 .SS4 li:hover {
  color: red;
  cursor: pointer;
}
.SS .SS5 {
  width: 280px;
  float: left;
}
.SS .SS5 img {
  margin-left: 190px;
}
/* 导航栏 */
nav {
  width: 1465px;
  height: 580px;
  background: #f4f4f4;
  margin: 0 auto;
  margin-top: 12px;
}
nav .navl {
  width: 234px ;
  height: 580px;
  background: #fefefe;
  float: left;
}
nav .navl .navl_1 {
  width: 234px ;
  height: 32px;
}
nav .navl .navl_1 p {
  width: 234px;
  height: 32px;
  font-size: 17px ;
  line-height: 32px;
  text-indent: 2rem;
  position: relative;
}
nav .navl .navl_1 p:hover {
  background-color: gray;
  color: red;
  cursor: pointer;
}
nav .navl .navl_1 .navl_1_1 {
  height: 580px;
  width: 1227px;
  border: 2px solid gray;
  display: none;
  position: absolute;
  top: 210px;
  left: 234px;
  background: white;
  z-index: 1;
}
nav .navl .navl_1 .navl_1_1 .navl_1_2 {
  width: 980px;
  height: 580px;
  float: left;
}
nav .navl .navl_1 .navl_1_1 .navl_1_2 .navl_1_2_1 {
  height: 22px;
  width: 980px;
  margin-top: 30px ;
}
nav .navl .navl_1 .navl_1_1 .navl_1_2 .navl_1_2_1 li:nth-child(1) {
  margin-left: 37px;
}
nav .navl .navl_1 .navl_1_1 .navl_1_2 .navl_1_2_1 li {
  width: 80px;
  height: 22px;
  float: left;
  background: black;
  color: white;
  margin-right: 20px ;
  text-align: center;
  line-height: 22px;
  font-size: 12px;
}
nav .navl .navl_1 .navl_1_1 .navl_1_2 .navl_1_2_2 {
  width: 980px;
  height: 12px;
  margin-top: 30px;
}
nav .navl .navl_1 .navl_1_1 .navl_1_2 .navl_1_2_2 li {
  float: left;
  font-size: 12px;
  font-weight: 900;
  width: 84px;
  height: 12px;
  text-align: right;
  margin-right: 37px;
}
nav .navl .navl_1 .navl_1_1 .navl_1_2 .navl_1_2_2 span {
  margin-right: 25px;
  color: gray;
}
nav .navl .navl_1 .navl_1_1 .navl_1_3 {
  float: left;
}
nav .navl .navl_1 .navl_1_1 .navl_1_3 img {
  margin-top: 40px;
}
nav .navC {
  width: 942px;
  height: 580px;
  float: left;
}
nav .navC .navC_1 #container {
  width: 726px;
  height: 580px;
  float: left;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}
nav .navC .navC_1 #container .item {
  position: absolute;
  width: 726px;
  height: 580px;
}
nav .navC .navC_1 #container .item img {
  width: 100%;
  height: 100%;
}
nav .navC .navC_1 #container #tabs {
  position: absolute;
  right: 30px;
  bottom: 20px;
}
nav .navC .navC_1 #container .tab {
  float: left;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  border: 3px solid rgba(184, 178, 182, 0.8);
  border-radius: 50%;
  background: #989196;
  cursor: pointer;
}
nav .navC .navC_1 #container .active {
  background: #fff;
  border-color: #999497;
}
nav .navC .navC_1 #container .btn {
  position: absolute;
  top: 50%;
  margin-top: -35px;
  width: 40px;
  height: 70px;
  color: #d6d3d5;
  font-size: 36px;
  line-height: 70px;
  text-align: center;
  cursor: pointer;
}
nav .navC .navC_1 #container .btn:hover {
  background: rgba(127, 120, 125, 0.8);
}
nav .navC .navC_1 #container .prev {
  position: absolute;
  left: 0;
  border-radius: 0 5px 5px 0;
}
nav .navC .navC_1 #container .next {
  position: absolute;
  right: 0;
  border-radius: 5px 0 0 5px;
}
nav .navC .navC_2 {
  width: 205px;
  float: left;
  margin-left: 11px;
}
nav .navR {
  width: 231px;
  height: 580px;
  float: right;
  background-color: white;
  /* log登入 */
  /* 京东快报 */
  /* 图标 */
}
nav .navR .navR_log {
  padding: 0 25px;
  width: 100%;
  height: 123px;
  border-bottom: 1px solid gray;
}
nav .navR .navR_log .navR_log_1 {
  width: 190px;
  height: 53px;
}
nav .navR .navR_log .navR_log_1 .navR_log_1_1 {
  float: left;
}
nav .navR .navR_log .navR_log_1 .navR_log_1_2 {
  float: left;
  margin-left: 12px;
}
nav .navR .navR_log .navR_log_1 .navR_log_1_2 h4 {
  font-size: 14px;
  color: gray;
}
nav .navR .navR_log .navR_log_1 .navR_log_1_2 .p {
  margin-top: 10px;
  font-size: 14px;
}
nav .navR .navR_log .navR_log_2 {
  width: 190px;
  height: 31px;
  margin-top: 15px;
}
nav .navR .navR_log .navR_log_2 p {
  width: 88px;
  height: 31px;
  border-radius: 20px;
  font-size: 15px ;
  line-height: 31px;
  text-align: center;
  float: left;
}
nav .navR .navR_log .navR_log_2 p:nth-child(1) {
  background-color: red;
}
nav .navR .navR_log .navR_log_2 p:nth-child(1) a {
  color: white;
}
nav .navR .navR_log .navR_log_2 p:nth-child(2) {
  margin-left: 12px;
  background: #363634;
}
nav .navR .navR_log .navR_log_2 p:nth-child(2) a {
  color: #dbce8b;
}
nav .navR .navR_text {
  width: 231px;
  height: 160px;
  border-bottom: 1px solid 
          gray;
}
nav .navR .navR_text .navR_text_1 {
  height: 19px;
  margin-top: 16px;
  padding: 0 25px;
}
nav .navR .navR_text .navR_text_1 h3 {
  font-size: 19px;
  float: left;
}
nav .navR .navR_text .navR_text_1 p {
  float: right;
  text-align: center;
  line-height: 19px;
  color: gray;
}
nav .navR .navR_text .navR_text_2 {
  height: 20px ;
  padding: 0 25px;
  margin-top: 14px;
}
nav .navR .navR_text .navR_text_2 .text1 {
  width: 44px;
  height: 20px;
  background-color: plum;
  color: red;
  text-align: center;
  font-size: 14px;
  float: left;
}
nav .navR .navR_text .navR_text_2 .text2 {
  float: right;
  font-size: 13px;
}
nav .navR .navR_tu {
  width: 231px;
  height: 291px;
}
nav .navR .navR_tu .tutu {
  height: 58px;
  margin-top: 12px;
}
nav .navR .navR_tu .tutu li {
  width: 30px ;
  height: 58px;
  margin: 0 23px;
  float: left;
}
nav .navR .navR_tu .tutu li p:nth-child(1) {
  font-size: 30px;
  color: rebeccapurple;
}
nav .navR .navR_tu .tutu li p:nth-child(2) {
  font-size: 14px;
  margin-top: 5px;
}
nav .navR .navR_tu .tutu li p:nth-child(2):hover {
  color: red;
}
/* 空白 */
.kong {
  width: 1465px;
  height: 38px;
  background: #f4f4f4;
  margin: 0 auto;
}
/* 京东秒杀 轮播  浮动窗  */
.Ml {
  width: 1465px;
  height: 321px;
  margin: 0 auto;
  position: relative;
  /* 秒杀 */
  /* 大轮播 */
  /*  小轮播 */
  /* 右侧浮动窗 */
}
.Ml .Ms {
  width: 232px;
  height: 321px;
  background: red;
  float: left;
}
.Ml .Ms .Ms_box {
  width: 160px;
  height: 238px;
  margin-top: 48px;
  margin-left: 43px;
}
.Ml .Ms .Ms_box h3 {
  font-size: 37px;
  color: #fff;
}
.Ml .Ms .Ms_box span {
  display: inline-block;
  font-size: 55px;
  margin-top: 40px;
  margin-left: 40px ;
  color: #fff;
}
.Ml .Ms .Ms_box .Dj {
  font-size: 19px;
  margin-top: 32px;
  color: #fff;
}
.Ml .Ms .Ms_box div {
  float: left;
  color: #fff;
  margin-top: 20px;
}
.Ml .Ms .Ms_box .Ms_1,
.Ml .Ms .Ms_box .Ms_3,
.Ml .Ms .Ms_box .Ms_5 {
  width: 36px;
  height: 38px;
  background: #363634;
}
.Ml .Ms .Ms_box .Ms_2,
.Ml .Ms .Ms_box .Ms_4 {
  width: 24px;
  height: 38px;
  text-align: center;
  line-height: 38px;
}
.Ml .daLb {
  width: 984px ;
  height: 321px;
  float: left;
  background: #fff;
}
.Ml .daLb .DaLb_1 {
  width: 984px ;
  height: 321px;
}
.Ml .daLb .DaLb_1 .DaLb_2 {
  float: left;
  width: 243px;
  height: 321px;
  border-right: #989196 1px solid;
}
.Ml .daLb .DaLb_1 .DaLb_2 img {
  margin-top: 37px;
  margin-left: 73px ;
}
.Ml .daLb .DaLb_1 .DaLb_2 span {
  display: inline-block;
  margin-top: 40px;
  margin-left: 24px;
  font-size: 16px;
}
.Ml .daLb .DaLb_1 .DaLb_2 .DaLb_3 {
  width: 196px;
  height: 28px ;
  border: solid 1px solid;
  margin-top: 13px;
  margin-left: 24px;
}
.Ml .daLb .DaLb_1 .DaLb_2 .DaLb_3 p {
  width: 98px;
  height: 28px;
  text-align: center;
  line-height: 28px;
}
.Ml .daLb .DaLb_1 .DaLb_2 .DaLb_3 p:nth-child(1) {
  float: left;
  font-size: 18px;
  border-right: 1px solid #989196;
  color: #fff;
  background-color: red;
}
.Ml .daLb .DaLb_1 .DaLb_2 .DaLb_3 p:nth-child(2) {
  float: left;
  font-size: 13px ;
  color: #989196;
  text-decoration: line-through;
}
.Ml .daLb #container1 {
  width: 984px;
  height: 321px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}
.Ml .daLb .item1 {
  position: absolute;
}
.Ml .daLb .active1 {
  background: #fff;
  border-color: #999497;
}
.Ml .daLb .btn1 {
  position: absolute;
  top: 50%;
  margin-top: -35px;
  width: 40px;
  height: 70px;
  color: #d6d3d5;
  font-size: 36px;
  line-height: 70px;
  text-align: center;
  cursor: pointer;
}
.Ml .daLb .btn1:hover {
  background: rgba(127, 120, 125, 0.8);
}
.Ml .daLb .prev1 {
  position: absolute;
  left: 0;
  border-radius: 0 5px 5px 0;
}
.Ml .daLb .next1 {
  position: absolute;
  right: 0;
  border-radius: 5px 0 0 5px;
}
.Ml .XlLb {
  width: 220px ;
  height: 321px;
  float: right;
}
.Ml .XlLb .item2 img {
  width: 148px;
  height: 148px;
  margin-top: 34px;
  margin-left: 30px;
}
.Ml .XlLb .item2 span {
  display: inline-block;
  font-size: 15px ;
  color: #989196;
  margin-top: 16px;
  margin-left: 42px;
}
.Ml .XlLb .item2 .Xian {
  font-size: 16px;
  font-weight: 900;
  margin-top: 8px;
  margin-left: 34px;
}
.Ml .XlLb .item2 .Xl {
  width: 100px;
  height: 28px;
  border: 1px solid red;
  border-radius: 20px;
  line-height: 28px;
  text-align: center;
  margin-top: 8px ;
  margin-left: 55px;
  color: red;
}
.Ml .XlLb #container2 {
  width: 220px;
  height: 321px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}
.Ml .XlLb .item2 {
  position: absolute;
}
.Ml .XlLb #tabs2 {
  position: absolute;
  right: 30px;
  bottom: 10px;
}
.Ml .XlLb .tab2 {
  float: left;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  border: 3px solid rgba(184, 178, 182, 0.8);
  border-radius: 50%;
  background: red;
  cursor: pointer;
}
.Ml .XlLb .active2 {
  background: blue;
  border-color: #999497;
}
.Ml .Fdc {
  width: 70px;
  height: 427px ;
  position: absolute;
  top: 0;
  left: 1445px;
  background-color: cadetblue;
  padding: 0 19px;
}
.Ml .Fdc ul li {
  width: 34px;
  height: 55px;
  border-bottom: 1px solid gray;
  margin-top: 14px ;
}
.Ml .Fdc ul li p {
  width: 34px;
  height: 17px;
  font-size: 17px ;
  text-align: center;
  line-height: 17px;
}
.Ml .Fdc ul li p:nth-child(2  ) {
  margin-top: 11px;
}
/* 空白 */
.kong1 {
  width: 1465px;
  height: 24px;
  background: #f4f4f4;
  margin: 0 auto;
}
/*  每日特价  品牌闪购 */
.TjSg {
  width: 1465px;
  height: 418px ;
  margin: 0 auto;
  background: #f4f4f4;
  /* 特价 */
  /* 闪购 */
}
.TjSg .Tj {
  width: 726px;
  float: left;
  height: 418px;
  background: #fff;
}
.TjSg .Tj .Tj_left {
  width: 210px ;
  height: 382px;
  margin-top: 20px;
  float: left;
  margin-left: 17px;
}
.TjSg .Tj .Tj_left .Tj_left_1 {
  height: 32px;
  width: 210px;
}
.TjSg .Tj .Tj_left .Tj_left_1 p {
  font-size: 32px;
  font-weight: 900;
  float: left;
}
.TjSg .Tj .Tj_left .Tj_left_1 span {
  float: left;
  font-size: 21px ;
  margin-left: 10px;
  color: red;
  margin-top: 15px;
}
.TjSg .Tj .Tj_left .Tj_left_2 {
  width: 210px;
  height: 328px;
  margin-top: 24px;
  text-align: center;
  background: #f4f4f4;
}
.TjSg .Tj .Tj_left .Tj_left_2 .Tj_left_2_1 {
  width: 112px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background: darksalmon;
  color: #fff;
  font-size: 14px;
  font-weight: 900;
}
.TjSg .Tj .Tj_left .Tj_left_2 img {
  margin-top: 25px;
  margin-left: 30px;
}
.TjSg .Tj .Tj_left .Tj_left_2 h4 {
  margin-top: 14px;
  font-size: 15px;
}
.TjSg .Tj .Tj_left .Tj_left_2 p {
  font-size: 20px;
  margin-top: 15px ;
  color: red;
}
.TjSg .Tj .Tj_left .Tj_left_2 p mark {
  font-size: 12px;
  color: gray;
  text-decoration: line-through;
  background: #f4f4f4;
}
.TjSg .Tj .Tj_left .Tj_left_2 h5 {
  font-size: 15px;
  margin-top: 15px;
  color: gray;
}
.TjSg .Tj .Tj_left .Tj_left_2 h5 mark {
  color: red;
  background: #f4f4f4;
}
.TjSg .Tj .Tj_right {
  width: 498px;
  height: 375px;
  float: left;
  margin-top: 24px;
}
.TjSg .Tj .Tj_right ul {
  height: 24px;
}
.TjSg .Tj .Tj_right ul li {
  margin: 0 18px;
  float: left;
  font-size: 18px;
  color: gray;
  cursor: pointer;
}
.TjSg .Tj .Tj_right ul li:nth-child(1) {
  margin-left: 155px;
}
.TjSg .Tj .Tj_right ul li:hover {
  color: red;
  border-bottom: 3px solid
            red;
}
.TjSg .Tj .Tj_right .Tj_right_1 {
  width: 498px;
  height: 323px;
  margin-top: 25px;
}
.TjSg .Tj .Tj_right .Tj_right_1 .Tj_right_2 {
  width: 201px;
  height: 115px;
  float: left;
  margin: 24px 22px;
}
.TjSg .Tj .Tj_right .Tj_right_1 .Tj_right_2 img {
  float: left;
}
.TjSg .Tj .Tj_right .Tj_right_1 .Tj_right_2 .Tj_right_3 {
  float: left;
  margin-left: 8px;
  width: 88px;
}
.TjSg .Tj .Tj_right .Tj_right_1 .Tj_right_2 .Tj_right_3 p {
  font-size: 16px ;
}
.TjSg .Tj .Tj_right .Tj_right_1 .Tj_right_2 .Tj_right_3 h3 {
  color: red;
  margin-top: 12px;
  font-size: 16px;
}
.TjSg .Tj .Tj_right .Tj_right_1 .Tj_right_2 .Tj_right_3 h4 {
  font-size: 12px;
  color: gray;
  text-decoration: line-through;
  margin-top: 7px;
}
.TjSg .Tj .Tj_right .Tj_right_1 .Tj_right_2 .Tj_right_3 h5 {
  font-size: 15px;
  color: gray;
  margin-top: 19px ;
}
.TjSg .Tj .Tj_right .Tj_right_1 .Tj_right_2 .Tj_right_3 h5 mark {
  background: #fff;
  color: red;
}
.TjSg .Tj .Tj_right .Tj_right_6 {
  width: 498px;
  height: 323px;
  margin-top: 25px;
  display: none;
}
.TjSg .Tj .Tj_right .Tj_right_6 .Tj_right_2 {
  width: 201px;
  height: 115px;
  float: left;
  margin: 24px 22px;
}
.TjSg .Tj .Tj_right .Tj_right_6 .Tj_right_2 img {
  float: left;
}
.TjSg .Tj .Tj_right .Tj_right_6 .Tj_right_2 .Tj_right_3 {
  float: left;
  margin-left: 8px;
  width: 88px;
}
.TjSg .Tj .Tj_right .Tj_right_6 .Tj_right_2 .Tj_right_3 p {
  font-size: 16px ;
}
.TjSg .Tj .Tj_right .Tj_right_6 .Tj_right_2 .Tj_right_3 h3 {
  color: red;
  margin-top: 12px;
  font-size: 16px;
}
.TjSg .Tj .Tj_right .Tj_right_6 .Tj_right_2 .Tj_right_3 h4 {
  font-size: 12px;
  color: gray;
  text-decoration: line-through;
  margin-top: 7px;
}
.TjSg .Tj .Tj_right .Tj_right_6 .Tj_right_2 .Tj_right_3 h5 {
  font-size: 15px;
  color: gray;
  margin-top: 19px ;
}
.TjSg .Tj .Tj_right .Tj_right_6 .Tj_right_2 .Tj_right_3 h5 mark {
  background: #fff;
  color: red;
}
.TjSg .Sg {
  width: 726px;
  height: 418px;
  float: right;
  background: #fff;
  /* 品牌闪购 */
  /* 商标 */
}
.TjSg .Sg .Sg_left {
  width: 330px;
  height: 380PX;
  float: left;
  margin-top: 20px;
  margin-left: 18px ;
}
.TjSg .Sg .Sg_left .Sg_left_1 {
  width: 330px;
  height: 30px;
}
.TjSg .Sg .Sg_left .Sg_left_1 P {
  font-size: 30px;
  font-weight: 900;
  float: left;
}
.TjSg .Sg .Sg_left .Sg_left_1 span {
  float: left;
  font-size: 20px;
  color: red;
  margin-top: 10px;
  margin-left: 15px;
}
.TjSg .Sg .Sg_left .Sg_left_2 {
  margin-top: 24px;
  position: relative;
}
.TjSg .Sg .Sg_left .Sg_left_2 .Sg_left_3 {
  width: 330px;
  height: 327px;
  background: white;
  opacity: 0.4;
  position: absolute;
  top: 327px;
  left: 0;
  display: none;
}
.TjSg .Sg .Sg_left .Sg_left_2:hover .Sg_left_3 {
  display: block;
  top: 0;
}
.TjSg .Sg .Sg_right {
  width: 350px;
  height: 361px;
  float: left;
  margin-top: 20px;
  margin-left: 12px;
}
.TjSg .Sg .Sg_right .Sg_right_1 {
  width: 104px ;
  height: 88px;
  float: left;
  margin: 20px 35px;
  position: relative;
}
.TjSg .Sg .Sg_right .Sg_right_1 p {
  margin-top: 12px;
  font-size: 13px;
}
.TjSg .Sg .Sg_right .Sg_right_1 .Sg_right_2 {
  width: 104px ;
  height: 88px;
  background: white;
  opacity: 0.4;
  position: absolute;
  top: 88px;
  left: 0;
  display: none;
}
.TjSg .Sg .Sg_right .Sg_right_1:hover .Sg_right_2 {
  top: 0;
  left: 0;
  display: block;
}
/* 发现好货 */
.Fx {
  width: 1465px;
  height: 320px;
  margin: 0 auto;
  /* 发现轮播 */
}
.Fx .Fx_left {
  float: left;
  position: relative;
}
.Fx .Fx_left .Fx_left_1 {
  width: 234px;
  height: 318px;
  position: absolute;
  top: 318px;
  left: 0;
  background: red;
  opacity: 0.2;
  display: none;
}
.Fx .Fx_left:hover .Fx_left_1 {
  display: block;
  top: 0;
  left: 0;
  cursor: pointer;
}
.Fx .Fx_right {
  width: 1217px ;
  height: 320px;
  float: right;
}
.Fx .Fx_right .swiper-container {
  width: 100%;
  height: 320px;
}
.Fx .Fx_right .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  width: 250px;
  height: 320px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
/* 新品首发 */
.XpSf {
  width: 1465px;
  height: 418px;
  margin: 0 auto;
  background: #f4f4f4;
  /* 轮播 */
  /* 排行榜 */
}
.XpSf .Xp_left {
  width: 356px;
  height: 418px;
  float: left;
  background: chocolate;
}
.XpSf .Xp_left .Xp_left_1 {
  width: 356px;
  height: 30px;
  margin-top: 20px;
}
.XpSf .Xp_left .Xp_left_1 p {
  font-size: 30px;
  font-weight: 900;
  float: left;
  margin-left: 24px ;
}
.XpSf .Xp_left .Xp_left_1 .jian {
  float: left;
  width: 20px;
  height: 20px;
  border: 1px solid red;
  border-radius: 20px;
  text-align: center;
  line-height: 20px;
  color: red;
  margin-top: 12px;
  margin-left: 15px;
  font-size: 15px;
}
.XpSf .Xp_left .Xp_left_1 .jian:hover {
  background-color: red;
  color: #fff;
}
.XpSf .Xp_left .Xp_left_2 {
  width: 356px ;
  height: 280px ;
  margin-top: 20px;
  text-align: center;
}
.XpSf .Xp_left .Xp_left_2 img {
  margin-left: 100px;
  margin-top: 30px;
}
.XpSf .Xp_left .Xp_left_2 p {
  font-size: 20px ;
  margin-top: 26px;
}
.XpSf .Xp_left .Xp_left_2 h5 {
  font-size: 15px ;
  color: gray;
  margin-top: 10px;
}
.XpSf .Xp_left .Xp_left_2 h3 {
  margin-top: 32px ;
  font-size: 20px;
  color: red;
}
.XpSf .Paihang {
  width: 356px;
  height: 418px;
  float: left;
  background-color: #fff;
  margin-left: 11px;
  /* paihang */
  /* 导航栏 */
  /* top1美迪惠尔 */
}
.XpSf .Paihang .Xp_left_1 {
  width: 356px;
  height: 30px;
  margin-top: 20px;
}
.XpSf .Paihang .Xp_left_1 p {
  font-size: 30px;
  font-weight: 900;
  float: left;
  margin-left: 24px ;
}
.XpSf .Paihang .Xp_left_1 .jian {
  float: left;
  width: 20px;
  height: 20px;
  border: 1px solid red;
  border-radius: 20px;
  text-align: center;
  line-height: 20px;
  color: red;
  margin-top: 12px;
  margin-left: 15px;
  font-size: 15px;
}
.XpSf .Paihang .Xp_left_1 .jian:hover {
  background-color: red;
  color: #fff;
}
.XpSf .Paihang .Ph_daohang {
  width: 356px;
  height: 25px;
  margin-top: 19px;
}
.XpSf .Paihang .Ph_daohang li {
  width: 78px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  margin-left: 10px;
  font-size: 14px ;
  float: left;
  border-radius: 25%;
  background: #f4f4f4;
  cursor: pointer;
}
.XpSf .Paihang .Ph_daohang li:hover {
  color: #fff;
  background-color: red;
}
.XpSf .Paihang .Paihang_bottom1 {
  width: 356px;
  height: 321px;
}
.XpSf .Paihang .Paihang_bottom1 .top1 {
  width: 356px;
  height: 90px;
  margin-top: 20px;
}
.XpSf .Paihang .Paihang_bottom1 .top1 .top1_1 {
  width: 34px;
  height: 49px;
  float: left;
  margin-top: 16px;
  margin-left: 18px;
}
.XpSf .Paihang .Paihang_bottom1 .top1 .top1_2 {
  height: 88px;
  width: 88px;
  float: left;
  margin-left: 14px;
}
.XpSf .Paihang .Paihang_bottom1 .top1 a {
  float: left;
  width: 153px;
  margin-left: 16px;
  font-size: 16px;
  margin-top: 25px;
}
.XpSf .Paihang .Paihang_bottom2 {
  width: 356px;
  height: 321px;
  display: none;
}
.XpSf .Paihang .Paihang_bottom2 .top1 {
  width: 356px;
  height: 90px;
  margin-top: 20px;
}
.XpSf .Paihang .Paihang_bottom2 .top1 .top1_1 {
  width: 34px;
  height: 49px;
  float: left;
  margin-top: 16px;
  margin-left: 18px;
}
.XpSf .Paihang .Paihang_bottom2 .top1 .top1_2 {
  height: 88px;
  width: 88px;
  float: left;
  margin-left: 14px;
}
.XpSf .Paihang .Paihang_bottom2 .top1 a {
  float: left;
  width: 153px;
  margin-left: 16px;
  font-size: 16px;
  margin-top: 25px;
}
